<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styleadpage.css">
  <link rel="shortcut icon" type="image" href="/image/logo.png">
  <title>admin page</title>
  <!-- bootstrap link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!--  -->
  <!-- Import bootstrap cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!-- Import jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
  </script>
  <!--  -->
  <style>
    .order_Id_H {
      position: absolute;
      top: 1.4rem;
      left: 28rem;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      text-shadow: 3px 3px 5px black;
    }

    .scrollable-content {
      position: relative;
      overflow: visible;
      /* display: flex; */

    }

    .box {
      margin: 0 0 0 0;
      width: 100%;
      height: 29rem;
      padding: 2rem 2rem;
    }

    .top_data_div {
      display: flex;
      width: 100%;
      min-height: 10rem;
    }

    .back_btn {
      position: absolute;
      top: -1rem;
      left: -1rem;
      width: 50px;
      height: 50px;
      background-color: rgb(69, 45, 45);
      padding: 10px 8px;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer;
    }

    .left_address_bar {
      flex: 0 0 60%;

    }

    .right_order_status_bar {
      flex: 0 0 40%;
      padding: 1rem 2rem;

    }

    .order_address_hd {
      color: #aea8a8;
      user-select: none;
      font-size: 20px;
      font-weight: 600;
      margin: 0 0 0 1rem;
      text-shadow: 2px 2px 5px rgb(44, 43, 43);

    }

    .address_text_bar {
      width: 80%;
      min-height: 120px;
      word-wrap: break-word;
      color: #fff;
      margin: 0 0 0 1rem;

    }

    .address_name_hd {
      width: 100%;
      font-weight: 700;
      font-size: 15px;
    }

    .address_data_div {
      width: 78%;
      min-height: 40px;
      word-wrap: break-word;
      display: flex;
      font-size: 13px;
      text-transform: capitalize;
    }

    .address_mob_hd {
      color: #aea8a8;
      font-size: 14px;

    }

    .phone_number_div {
      margin: -1rem 0 0 0;
    }

    .order_status_update_div {
      font-weight: 700;
      text-transform: capitalize;
      text-shadow: 2px 2px 5px rgb(31, 30, 30);
      color: #fff;
    }

    .bottom_items_data_div {
      padding: 0 0 0 1rem;
    }

    .ordered_items_hd {
      text-transform: capitalize;
      color: #aea8a8;
      font-weight: 700;
      text-shadow: 2px 2px 5px rgb(44, 43, 43);

    }

    /* ______________single div______________ */
    .single_item_data_div {
      width: 100%;
      min-height: 40px;
      margin: .1rem 0 0 0;
      user-select: none;
      position: relative;
      display: flex;
      gap: 10px;
    }

    .top_border_div_box {
      border-top: 1.5px solid rgb(68, 30, 30);
      border-bottom: 1.5px solid rgb(68, 30, 30);
      border-radius: 5px;
      width: 90%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 5%;
    }

    .item_image_preview_div {
      flex: 0 0 15%;
      position: relative;
      display: flex;
    }

    .img_display_tag {
      width: 100%;
      height: 86%;
      margin: auto .3rem;
      overflow: hidden;
      object-fit: fill;
      justify-content: end;
    }


    .img_tag {
      width: 4rem;
      height: 3.5rem;
      border-radius: 12px;
      background-color: rgb(80, 63, 63);
      border: 2px solid rgb(72, 28, 28);
      margin-top: 2rem;
      margin: auto;
      overflow: hidden;
      position: relative;

    }

    .img_tag img {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -.9rem;
    }




    .item_data_preview_div {
      flex: 0 0 45%;
      position: relative;
      color: #fff;


    }

    .top_text_data_preview_div {
      display: flex;
      word-wrap: break-word;
      font-size: 14px;
    }

    .price_data_text_preview {
      color: rgb(194, 194, 194);
    }

    .bottom_text_data_preview_div {
      display: flex;
      word-wrap: break-word;
      font-size: 11px;

    }

    .item_delivery_preview_div {
      flex: 0 0 35%;
      position: relative;
      color: #e3dddf;

    }

    .delivery_charge_data_p {
      font-size: 11px;
    }

    .product_description_data_text_preview,
    .top_text_data_preview_div {
      margin-top: -11px;
    }

    .name_data_text_preview {
      text-shadow: 2px 2px 5px rgb(44, 43, 43);
    }

    .id_item {
      font-weight: 600;
      color: rgb(231, 231, 231);
      position: relative;
    }

    .copy_img_tag {
      width: 15px;
      position: absolute;
      top: .5rem;
      right: -1rem;
      cursor: pointer;
    }

    .order_retun_confirm_action_div {
      width: 100%;
      min-height: 100px;
      border: 1px solid #fff;
      border-radius: 5px;
      box-shadow: 3px 3px 6px black;
      padding: 5px;
    }

    .return_req_hd {
      font-size: 13px;
      text-shadow: 2px 2px 3px rgb(54, 54, 54);
      color: #fff;
    }

    .reason_for_return {
      background-color: transparent;
      box-shadow: 0 0 2px black;
      color: #fff;
      font-size: 12px;
      padding: 0 0 0 0;
      width: 100%;
      cursor: pointer;
    }

    .reason_for_return:focus {
      outline: none;
      cursor: pointer;

    }

    /* For Webkit browsers (Chrome, Safari) */
    textarea::-webkit-scrollbar {
      width: 12px;
      /* Set the width of the scrollbar */
    }

    textarea::-webkit-scrollbar-thumb {
      background-color: transparent;
      /* Set the color of the thumb (the moving part) */
    }

    textarea::-webkit-scrollbar-corner {
      background-color: rgb(69, 45, 45);
    }

    .return_confirm_action_div {
      display: flex;
      width: 100%;
      min-height: 30px;
    }

    .accept_btn,
    .accept_btn:focus {
      background-color: transparent;
      color: #64e185;
      font-size: 12px;
      text-shadow: 2px 2px 3px black;
      border: none;
      outline: none;
      text-transform: capitalize;
      margin: 0 0 0 3rem;
    }

    .reject_btn,
    .reject_btn:focus {
      background-color: transparent;
      color: #e16d6d;
      font-size: 12px;
      text-shadow: 2px 2px 3px black;
      border: none;
      outline: none;
      text-transform: capitalize;
      margin: 0 0 0 2.5rem;
    }

    .poduct_restoring_div {
      display: flex;
      width: 100%;
      min-height: 16px;
    }

    .label_resotre {
      font-size: 11px;
      color: #c2c2c2;
      margin: 1px 0 0 4px;
      text-transform: capitalize;
    }

    /* ===================================================== */
    .orderStatus {
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      text-shadow: 2px 2px 3px black;


    }

    .orderStatus option {
      background-color: rgba(100, 87, 86, 0.549);
    }

    .orderStatus option :hover {
      background-color: rgba(113, 75, 72, 0.808);
    }
  </style>


</head>

<body>
  <div class="container_main ">
    <!-- left bar  -->
    <div class="sidebar">
      <!-- Your sidebar content goes here -->

      <div class="profile_bar">
        <form class="circle" action="/logout" method="get">
          <img src="/image2/admin.png" alt="Profile Image">
          <p class="admintag">admin </p>
          <button id="logoutbtn" type="submit"><img width="20px" src="/image2/logout.png" alt="logout"></button>
        </form>
      </div>
      <a href="/admin/usermanagement"><button id="toggleButton" class="button action_usermanagement" style=" background-color: rgb(98, 77, 77);">Users</button></a>
      <a href="/admin/productmangement"><button class="button" style=" background-color: rgb(98, 77, 77);">Products</button></a>
      <a href="/admin/categorymanagement"><button class="button" style=" background-color: rgb(98, 77, 77);">Categorys</button></a>
      <a href="/admin/ordermanagement"><button class="button" style=" background-color: rgb(69, 45, 45);">Orders</button></a>
      <a href="/admin/offermanagement"><button class="button" style=" background-color: rgb(98, 77, 77);">Offers</button></a>
      <a href="/admin/couponmanagement"><button class="button" style=" background-color: rgb(98, 77, 77);">Coupons</button></a>

    </div>
    <!--  -->




    <!-- Your scrollable content goes here -->
    <div class="order_Id_H">
      <span style="user-select: none;">Order Id:-</span><%= orderData._id %>
    </div>

    <div class="scrollable-content">
      <div class="back_btn" onclick="history.back();"><img src="/image2/left.png" style=" width:30px;"></div>
      <div class="box">
        <!-- address data  div  -->
        <div class="top_data_div">
          <div class="left_address_bar">
            <div class="order_address_hd">Delivery Address</div>
            <div class="address_text_bar">
              <p class="address_name_hd"><%=orderData.shippingAddress.name%></p>
              <div class="address_data_div">
                <%=orderData.shippingAddress.address%>,<%=orderData.shippingAddress.city%>,<%=orderData.shippingAddress.locality%>
                ,<%=orderData.shippingAddress.state%>&nbsp;<strong>-<%=orderData.shippingAddress.pincode%></strong>
              </div>
              <p class="address_mob_hd">Phone number</p>
              <p class="phone_number_div"><%=orderData.shippingAddress.phone_number%>,<%=orderData.shippingAddress.alternate_phone%></p>
            </div>

          </div>
          <div class="right_order_status_bar">
            <div class="order_status_update_div">
              <!--  -->
              <% if (["pending", "Shipped", "Out For Delivery"].includes(orderData.status)) { %>

              <select name="orderStatus" class="orderStatus" onchange="statusUpdate('<%= orderData._id %>', this.value)">
                <option value="pending" <%= orderData.status === "pending" ? "selected" : "" %>>Pending</option>
                <option value="Shipped" <%= orderData.status === "Shipped" ? "selected" : "" %>>Shipped</option>
                <option value="Out For Delivery" <%= orderData.status === "Out For Delivery" ? "selected" : "" %>>Out For Delivery</option>
                <option value="Delivered" <%= orderData.status === "Delivered" ? "selected" : "" %>>Delivered</option>
                <!-- <option value="cancelled" <%#= orderData.status === "cancelled" ? "selected" : "" %>>Cancelled</option> -->
              </select>
              <% }else{ %>
              <%=orderData.status%>
              <% } %>


              <script>
                function statusUpdate(id, update) {
                  fetch(`/admin/orderdetails?id=${id}&data=${update}`, {
                      method: 'PATCH',
                      headers: {
                        'Content-Type': 'application/json'
                      },
                    })
                    .then(response => response.json())
                    .then(data => {
                      if (data.status) {


                      } else {
                        alert(data.msg)
                      }

                    })
                    .catch((error) => {
                      console.error('Error:', error);
                    });
                }
              </script>


              <!--  -->

              <span style="font-size:11px;color: rgb(239, 239, 161);"><% if(orderData.balance_amount==="Refund"){ %> <span style="color: #57c746;">Refund (Successful)</span> <% } else if(orderData.status==="Return" &&orderData.paymentStatus=="rejected"){%><span style="color:rgb(255, 91, 91);">(rejected)</span><% } else if(orderData.status==="Return" &&orderData.paymentStatus=="rejected"){%><span style="color:rgb(255, 91, 91);">(rejected)</span> <% } %></span>
            </div>
            <div class="order_price_data_div">
              <% if(orderData.paymentMethod=="UPI"){ %>
              <p class="price_status" style="color: #57c746;"><%=orderData.totalPrice%>,DHS&nbsp;<span style="font-size:13px; color: #bbfab1;">(Online Payment)</span></p>
              <%}else if(orderData.paymentMethod=="COD"){  %>
              <p class="price_status" style="color:#e8d4d4;"><%=orderData.totalPrice%>,DHS <span style="color: #fff; font-size: 12px;">DHS</span>&nbsp;<span style="font-size:13px; color: #ffb7b7;">(Cash on Delivery)</span></p>
              <% }else{ %>
              <p class="price_status" style="color:#ffffff;"><%=orderData.totalPrice%>,DHS&nbsp;<span style="font-size:13px; color: #64e185;"></p>
              <% } %>
            </div>

            <% if(orderData.status=="Return"&&orderData.paymentStatus=="Processing"){ %>
            <div class="order_retun_confirm_action_div">
              <p class="return_req_hd">Return request!</p>
              <textarea readonly class="reason_for_return"><%=orderData.retun_reason%>
                </textarea>
              <div class="poduct_restoring_div">
                <input type="checkbox" class="restore" id="restore" checked>
                <label for="restore" class="label_resotre">restore the stock</label>
              </div>

              <div class="return_confirm_action_div">
                <button class="accept_btn" onclick="returnCorfirm('<%= orderData._id %>',true)">accept</button>
                <button class="reject_btn" onclick="returnCorfirm('<%= orderData._id %>',false)">reject</button>
              </div>
            </div>
            <% } %>
          </div>

        </div>
        <!-- bootom data div  -->
        <div class="bottom_items_data_div">
          <div class="ordered_items_hd">ordered items (<%= orderData.items.length %> Items)</div>

          <% orderData.items.forEach(item => {%>
          <div class="single_item_data_div">
            <!-- border -->
            <div class="top_border_div_box"></div>
            <!-- items data -->

            <div class="item_image_preview_div">
              <div class="img_display_tag">
                <img class="img_tag" src="/<%=item.product.product_image_url[0] %>" width="130px" alt="">
              </div>
            </div>
            <div class="item_data_preview_div">
              <p class="product_id_p_tag"><span style="user-select: none;">Poduct Id:</span> <span class="id_item"><%=item.product._id%> <img class="copy_img_tag" src="/image2/copy.png" alt="" onclick="copyToClipboard('<%=item.product._id%>')"></span></p>
              <div class="top_text_data_preview_div">
                <p class="name_data_text_preview"><%=item.product.product_name%>&nbsp;</p>
                <p class="price_data_text_preview">(<%=item.product.product_category%>)</p>
                <% if(item.quantity>1){ %>
                <p class="qty_data_text_preview">&nbsp;(&cross;<%=item.quantity%>)</p>
                <% }%>
              </div>
              <div class="bottom_text_data_preview_div">
                <p class="product_description_data_text_preview"><%=item.product.product_description%></p>
              </div>
            </div>
            <div class="item_delivery_preview_div">
              <p class="delivery_charge_data_p">Delivery Charge: <s>0.3,DHS</s><span style="color: rgb(49, 188, 49);"> Free</span>
            </div>
          </div>
          <% }) %>

        </div>

      </div>

    </div>



    <div class="errormsg" style="display: none;">
      Fail to connect database check your network !
    </div>



    <!-- ////////////////////////SCRIPT AREA/////////////////////////////// -->

    <!-- _______retun status uptade ______- -->
    <script>
      function returnCorfirm(orderId, returnStatus) {
        const restoreBtn = document.querySelector(".restore");
        let restore = false;
        if (restoreBtn.checked) {
          restore = true;
        }
        const data = {
          orderId,
          returnStatus,
          restore,
        };

        fetch('/admin/orderReturn', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
          })
          .then(data => {

            window.location.reload()
          })
          .catch(e => {
            console.log('There has been a problem with your fetch operation: ' + e.message);
          });

      }
    </script>
    <!-- __________________________________ -->



    <!--          ERROR MSG         -->
    <script>
      function errorMsg() {
        document.querySelector('.errormsg').textContent = data.message;
        document.querySelector('.errormsg').style.display = "block";
        document.querySelector('.errormsg').style.animationPlayState = 'running';

        setTimeout(function() {
          document.querySelector('.errormsg').style.animationPlayState = 'paused';
          document.querySelector('.errormsg').style.animationName = "hide"
          document.querySelector('.errormsg').style.animationPlayState = 'running';
          setTimeout(() => {
            window.location.reload()
          }, 150);
        }, 2000);
      }
    </script>
    <!--           _______          -->

    <!--        copy of id  -->
    <script>
      function copyToClipboard(orderID) {
        navigator.clipboard.writeText(orderID).then(function() {
          console.log('Order ID copied to clipboard');
        }).catch(function(err) {
          console.error('Could not copy text: ', err);
        });
      }
    </script>
    <!-- __________________ -->



</body>

</html>