<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZESUGAR PISTORS</title>
  <link rel="shortcut icon" type="image" href="/image/logo.png">
  <link rel="stylesheet" href="/product_data.css">
  <!-- bootstrap links -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- bootstrap links -->
  <!-- fonts links -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
  <!-- fonts links -->
  <!-- icons links -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <!-- icons links -->
  <!-- animation links -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- animation links -->



</head>

<body>
  <div class="all-content">
    <!-- navbar -->
    <%-include("./partials/nav_bar")  %>

    <!-- navbar end -->

    <div class="container">
      <div class="row">
        <div class="col-6 right_bar">
          <div class="img_div row">
            <div class="sub_imgs col-3">

              <div class="mini_imgbtn">
                <% productdata.product_image_url.forEach((url)=>{%>
                <div class="img_min_div">
                  <img src="/<%=url%>" alt="">
                  <!-- Content of the first img_min_div -->
                </div>
                <%});%>

              </div>

            </div>
            <div class="img_tag col-9">
              <img class="imgtag_" id="zoom_04" src="/<%=productdata.product_image_url[0].replace(/\\/g, '/')%>" alt="">
              <!-- full image  -->
              <% if(productdata.product_status === false) { %>
              <div class="out-of-stock-label">
                Out of Stock
              </div>
              <% } %>
            </div>


          </div>
          <!-- =====BUY BUTTON===== -->
          <div class="buy_button_div">
            <% if (cartstatus.includes(productId)) { %>
            <button class="addToCart_btn" id="goToCart_btn" data-product-id="<%=productdata._id%>" onclick="cart()">Go to Cart</button>
            <% }else{ %>
            <button class="addToCart_btn" id="addToCart_btn" data-product-id="<%=productdata._id%>" onclick="onCartBtnClick()">Add TO Cart <p style="display:none;" id="reload"></p></button>
            <button class="addToCart_btn" id="goToCart_btn" data-product-id="<%=productdata._id%>" onclick="cart()" style="display: none;">Go to Cart</button>
            <% } %>

            <% if(productdata.product_status === true) { %>
            <button class="buyNow_btn">Buy Now</button>
            <% }else{%>
            <button class="buyNow_btn" style="cursor: not-allowed;">Buy Now</button>
            <style>
              .buyNow_btn:after {
                opacity: .3;
                background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
                cursor: not-allowed;
              }
            </style>
            <% } %>

          </div>




        </div>

        <!-- =======LEFT BAR======== -->
        <div class="col-6 left_bar">
          <!-- ====================ZOOM DIV==================== -->
          <!-- <div class="zoom_div" style="display: none;"> -->
          <div class="img-zoom-result "></div>
          <!-- </div> -->
          <!-- ====================ZOOM DIV==================== -->

          <div class="left_data_bar">
            <h1><%=productdata.product_name%></h1>
            <p class="categoryPtag"><%=productdata.product_category%></p>
            <p class="descriptionPtag"><%=productdata.product_description%></p>
            <div class="star">
              <i class="bx bxs-star checked"></i>
              <i class="bx bxs-star checked"></i>
              <i class="bx bxs-star checked"></i>
              <i class="bx bxs-star checked"></i>
              <i class="bx bxs-star checked"></i>
            </div>
            <p class="pricePtag"><%=productdata.product_price%> DHS<span class="offerPtag">10%</span></p>
            <div class="selectiondiv">
              <select class="quantity-select">
                <option value="" disabled selected hidden>Quantity</option>
                <option value="1kg">1kg</option>
                <option value="0.5kg">0.5kg</option>
              </select>
              <img src="/image/heart.png" alt="" width="20px">
            </div>

          </div>

          <!-- Content of the left bar -->
        </div>
      </div>
    </div>



    <%-include("./partials/footer.ejs")  %>


  </div>

  <!-- ====ERROR PoP UP==== -->

  <div class="errormsg" style="display: none;">
    Product added successfully
  </div>

  <!-- ==================== -->

  <!-- ============ADD TO CART FETCH REQ================ -->

  <script>
    let onCartBtnClick = function onCartBtnClick() {
      console.log("btn clicked");
      const cartbtn = document.getElementById("addToCart_btn");
      const reload = document.getElementById("reload");
      const goToCart_btn = document.getElementById("goToCart_btn");
      const productId = cartbtn.getAttribute('data-product-id');

      console.log(productId);
      cartbtn.disabled = true;
      reload.style.display = "block"




      fetch(`/productaddtocart/${productId}`)
        .then(response => response.json())
        .then(data => {
          if (data) {
            cartbtn.style.display = "none"
            goToCart_btn.style.display = "block"
            // error msg
            document.querySelector('.errormsg').style.display = "block"
            document.querySelector('.errormsg').style.animationPlayState = 'running';

            setTimeout(function() {
              document.querySelector('.errormsg').style.animationPlayState = 'paused';
              document.querySelector('.errormsg').style.animationName = "hide"
              document.querySelector('.errormsg').style.animationPlayState = 'running';
              setTimeout(() => {
              document.querySelector('.errormsg').style.display = "none"
                
              }, 300);
            }, 3000);
          } else {
            window.location.reload()
          }


        })
        .catch(error => console.error('Error:', error));
    }
    //==========go to cart btn ================
  </script>
  <!-- ================================================== -->


  <!-- =======IMAGE CHANGING ACTION======= -->
  <script>
    document.querySelectorAll('.img_min_div').forEach(function(div) {
      div.addEventListener('click', function() {
        var imgSrc = div.querySelector('img').getAttribute('src');
        document.querySelector('.img_tag img').setAttribute('src', imgSrc);
      });
    });
  </script>
  <!-- =================================== -->

  <!-- lootie animation file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>
  <script>
    bodymovin.loadAnimation({
      container: document.getElementById('reload'),
      path: '/json/reload.json',
    });
  </script>
  <!-- lootie animation file -->


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>

  <script>
    let cart = function cart() {
      window.location.href = "/cart";

    }
  </script>


  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
  <script>
    $(document).ready(function() {
      $("#zoom_04").ezPlus();
    });
  </script>

</body>

</html>