<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZESUGAR PISTORS</title>
  <link rel="shortcut icon" type="image" href="/image/logo.png">
  <link rel="stylesheet" href="/profilePage.css">
  <!-- bootstrap links -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- bootstrap links -->
  <!-- fonts links -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
  <!-- fonts links -->
  <!-- icons links -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <!-- icons links -->
  <!-- animation links -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- animation links -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />


  <style>
    .order_btn {
      background: rgb(213, 106, 137);
      background: linear-gradient(90deg, rgb(200, 92, 123) 0%, rgb(249, 249, 249) 100%);

      p {
        color: rgb(189, 43, 84);
        font-weight: 700;
      }
    }
    .back_action{
      position: absolute;
      top: 0rem;
      left:-1rem;
      width:40px;
      height:40px;
      cursor: pointer;
    }
  </style>


</head>


<body style=" background: rgb(72, 20, 44);" id="body">
  <div class="all-content">
    <!-- navbar -->
    <%-include("../partials/nav_bar") %>

    <!-- navbar end -->


    <div class="main_div">
      <div class="left_bar">
        <div class="action_div">
          <a href="/getprofile">
            <div class="form_div profile_btn">
              <p>Profile</p>
            </div>
          </a>
          <a href="/getprofile_wallet">
            <div class="form_div">
              <p>Wallet</p>
            </div>
          </a>
          <a href="/getprofile_address">
            <div class="form_div address_btn">
              <p>Address</p>
            </div>
          </a>
          <a href="/getprofile_order">
            <div class="form_div order_btn">
              <p>Orders</p>
            </div>
          </a>
        </div>

      </div>
      <div class="right_bar">
        <div class="vertical_line"></div>
        <!-- profile data -->
        <%#= orderDetail %>
        <div class="data_display_div_orderData ">
          <img src="/image2/left_arrow.png" class="back_action" onclick="history.back();" alt="">
          <P class="order_id" style="color: #fff ; cursor: pointer ; user-select: none;">Order ID:-<span style="user-select:text;"><%=orderDetail._id%></span></P>
          <div class="single_order_details_div ">
            <!-- order data -->
            <div class="details_div">
              <p class="address_hd">Delivery Address
                <%if(!(orderDetail.status=="cancelled")){%>
                <a class="caNCEL_BTN" href="#" onclick="orderCancel('<%=orderDetail._id%>')">CANCEL</a>

                <% } %>
              </p>
              <p class="address_name_hd"><%=orderDetail.shippingAddress.name%></p>
              <div class="address_data_div">
                <%=orderDetail.shippingAddress.address%>,<%=orderDetail.shippingAddress.city%>,<%=orderDetail.shippingAddress.locality%>
                ,<%=orderDetail.shippingAddress.state%>&nbsp;<strong>-<%=orderDetail.shippingAddress.pincode%></strong>
              </div>
              <p class="address_mob_hd">Phone number</p>
              <!--   PEMENT METHOD -->
              <p class="phone_number_div"><%=orderDetail.shippingAddress.phone_number%>,<%=orderDetail.shippingAddress.alternate_phone%></p>
              <% if(orderDetail.paymentMethod=="UPI"){ %>
              <p class="price_status" style="color: #57c746;"><%=orderDetail.balance_amount%>&nbsp;<span style="font-size:13px; color: #bbfab1;">(Online Payment)</span></p>
              <%}else if(orderDetail.paymentMethod=="COD"){  %>
              <p class="price_status" style="color:#950101;"><%=orderDetail.balance_amount%><span style="color: #fff; font-size: 12px;">DHS</span>&nbsp;<span style="font-size:13px; color: #ffb7b7;">(Cash on Delivery)</span></p>
              <% }else{ %>
              <p class="price_status" style="color:#ffffff;"><%=orderDetail.balance_amount%>&nbsp;<span style="font-size:13px; color: #64e185;">(refund successful)</span></p>
              <% } %>
              <!--   ORDER STATUS -->
              <% if(orderDetail.status=="pending"){ %>
              <div class="order_status" style="color:rgb(255, 192, 76);">
                <div id="circle" style="border-color:rgb(255, 192, 76);"></div><%=orderDetail.status%>
              </div>
              <%}else if(orderDetail.status=="Shipped"){  %>
              <div class="order_status" style="color:rgb(196, 238, 133);">
                <div id="circle" style="border-color:rgb(196, 238, 133);"></div><%=orderDetail.status%>
              </div>
              <%}else if(orderDetail.status=="Out For Delivery"){  %>
              <div class="order_status" style="color:rgb(171, 220, 88);">
                <div id="circle" style="border-color:rgb(171, 220, 88);"></div><%=orderDetail.status%>
              </div>
              <%}else if(orderDetail.status=="Delivered"){  %>
              <div class="order_status" style="color:rgb(65, 158, 90);">
                <div id="circle" style="border-color:rgb(59, 147, 84);"></div><%=orderDetail.status%>
              </div>
              <%}else if(orderDetail.status=="cancelled"){  %>
              <div class="order_status" style="color:rgb(148, 0, 0);">
                <div id="circle" style="border-color:rgb(188, 3, 3);"></div><%=orderDetail.status%>
              </div>
              <% } %>



            </div>

            <!-- products data -->
            <div class="items_details_div">
              <div class="each_items_main_div">
                <% orderDetail.items.forEach(item => {%>
                <div class="single_item_data_div">
                  <div class="item_image_preview_div">
                    <div class="img_display_tag">
                      <img class="img_tag" src="/<%=item.product.product_image_url[0] %>" width="130px" alt="">
                    </div>
                  </div>
                  <div class="item_data_preview_div">
                    <div class="top_text_data_preview_div">
                      <p class="name_data_text_preview"><%=item.product.product_name%>&nbsp;</p>
                      <p class="price_data_text_preview"><%=item.product.product_price%> DHS</p>
                      <% if(item.quantity>1){ %>
                      <p class="qty_data_text_preview">&nbsp;(&cross;<%=item.quantity%>)</p>
                      <% }%>
                    </div>
                    <div class="bottom_text_data_preview_div">
                      <p class="product_description_data_text_preview"><%=item.product.product_description%></p>
                    </div>
                  </div>
                  <div class="item_delivery_preview_div">
                    <p class="delivery_charge_data_p">Delivery Charge: <s>0.3,DHS</s><span style="color: rgb(49, 188, 49);"> Free</span>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>





    <!-- footer -->
    <%-include("../partials/footer.ejs")%>
    <!-- ======= -->


  </div>


  <!-- ====ERROR PoP UP==== -->
  <div class="errormsg" style="display: none;">
    Fail to connect database check your network !
  </div>

  <!-- ==================== -->

  <!-- ================== -->


  <!-- /////////SCRIPT AREA///////// -->

  <!-- =======CANCEL ORDER REQ =========== -->
  <SCript>
    function orderCancel(id) {
      event.preventDefault()
      window.location.href = `/orderCancel/${id}`
    }
  </SCript>
  <!-- =================================== -->


  <!-- =========ERROR ANIMATION=========== -->
  <script>
    function errorMsg(params) {
      document.querySelector('.errormsg').textContent = `Upload Failed`
      document.querySelector('.errormsg').style.display = "block"
      document.querySelector('.errormsg').style.animationPlayState = 'running';

      setTimeout(function() {
        document.querySelector('.errormsg').style.animationPlayState = 'paused';
        document.querySelector('.errormsg').style.animationName = "hide"
        document.querySelector('.errormsg').style.animationPlayState = 'running';
        setTimeout(() => {
          document.querySelector('.errormsg').style.display = "none"
        }, 300);
      }, 4000);
    }
  </script>

  <!-- ============================================ -->




  <!-- for aos animation  -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- ============ -->

  <!-- page reback bug fix code -->
  <script>
    AOS.init();
  </script>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
  <!-- ======================== -->


  <!-- page reload -->
  <script>
    let cart = function cart() {
      window.location.href = "/cart";

    }
  </script>
  <!-- ========= -->


</body>

</html>