<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZESUGAR PISTORS</title>
  <link rel="shortcut icon" type="image" href="/image/logo.png">
  <link rel="stylesheet" href="/profilePage.css">
  <!-- bootstrap links -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- bootstrap links -->
  <!-- fonts links -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
  <!-- fonts links -->
  <!-- icons links -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <!-- icons links -->
  <!-- animation links -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- animation links -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />


  <style>
    .Wishlist_btn {
      background: rgb(213, 106, 137);
      background: linear-gradient(90deg, rgb(200, 92, 123) 0%, rgb(249, 249, 249) 100%);

      p {
        color: rgb(189, 43, 84);
        font-weight: 700;
      }
    }


    /* CSS */
    .shop_now_btn {
      padding: 15px 30px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      border-radius: 10px;
      display: block;
      border: 0px;
      font-weight: 700;
      box-shadow: 0px 0px 14px -7px #f09819;
      background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .shop_now_btn:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }

    .shop_now_btn:active {
      transform: scale(0.95);
    }

    .single_product_display_div {
      width: 100%;
      border-radius: 8px;
      min-height: 80px;
      background: rgb(238, 197, 209);
      background: linear-gradient(90deg, rgb(185, 91, 119) 0%, rgb(230, 166, 178) 100%);
      border: 2px solid #fcd1e9;
      margin-top: 1rem;

      display: flex;
      align-items: stretch;

    }
    .product_img_div{
        width: 70px;
        height: 70px;
        margin:.7rem 0 0 0;
        object-fit: contain;
        position: relative;
        cursor: pointer;
        user-select:none;
        flex: 0 0 15%;
        padding:0 0 0 1rem;
      cursor: pointer;


    }
    .product_name_div{
        flex: 0 0 40%;
        margin-left: 0;
    }
    .product_action_div{
        flex: 0 0 45%;
        position: relative;
    }
    .nameAndPrice_p_tag{
        color: #fff;
        user-select: none;
        text-shadow:2px 2px 3px black;
        text-transform: capitalize;
      cursor: pointer;

    }
    .product_description_p_tag{
        color: #fff;
        user-select: none;
        font-size:13px;
        text-shadow:2px 2px 3px black;
        text-transform: capitalize;
        margin:-1rem 0  0 0;
      cursor: pointer;

    }
    .delete_form_wishlist{
   width:15px;
   margin:.5rem 0 0 80%;
   cursor: pointer;
   position: absolute;
   right: 1rem;
   top: .5rem;
   display: none;
}

.single_product_display_div:hover .delete_form_wishlist{
   display: block;
}

  </style>


</head>


<body style=" background: rgb(72, 20, 44);" id="body">
  <div class="all-content">
    <!-- navbar -->
    <%-include("../partials/nav_bar") %>

    <!-- navbar end -->


    <div class="main_div">
      <div class="left_bar">
        <div class="action_div">
          <a href="/getprofile">
            <div class="form_div profile_btn">
              <p>Profile</p>
            </div>
          </a>
          <a href="/getprofile_wallet">
            <div class="form_div">
              <p>Wallet</p>
            </div>
          </a>
          <a href="/getprofile_address">
            <div class="form_div address_btn">
              <p>Address</p>
            </div>
          </a>
          <a href="/getprofile_order">
            <div class="form_div order_btn">
              <p>Orders</p>
            </div>
          </a>
          <a href="/myWishlist">
            <div class="form_div Wishlist_btn">
              <p>Wishlist</p>
            </div>
          </a>
        </div>

      </div>
      <div class="right_bar">
        <div class="vertical_line"></div>
        <!-- profile data -->
        <% if(!userWishlist || userWishlist.items.length === 0){ %>
        <div class="data_display_div_order" style="user-select: none; min-height:400px;">
          <p class="text_msg" style="margin: 8rem 0 0 9rem; font-size: 23px; color: #fff; text-shadow:3px 3px 6px black; text-transform: capitalize;"> Your Wishlist is currently empty!</p>
          <a href="/"><button class="shop_now_btn" style="margin: 1rem 0 0 15rem ; text-transform: capitalize;">start exploring</button></a>
        </div>
        <% }else{ %>
        <div class="data_display_div_order wishlist_main">
          <% userWishlist.items.forEach(product => {%>

          <div class="single_product_display_div single_product_display_div<%= product.product._id %>" >
            <div class="product_img_div" onclick="productDetailPage('<%= product.product._id %>')">
                <img src="/<%=product.product.product_image_url[0]%>" width="70px" alt="" style="border:1px solid #fff; border-radius: 4px;">
            </div>
            <div class="product_name_div" onclick="productDetailPage('<%= product.product._id %>')">
                <p class="nameAndPrice_p_tag"><%=product.product.product_name%>&nbsp;<strong><%=product.product.product_price%>,DHS</strong></p>
                <p class="product_description_p_tag"><%=product.product.product_description%></p>
            </div>
            <div class="product_action_div">
                <img src="/image2/delete.png" alt="" class="delete_form_wishlist" onclick="removeProduct('<%= product.product._id %>')">
            </div>
          </div>



          <% }) %>

        </div>

        <div class="data_display_div_order wishlist_sub" style="user-select: none; min-height:400px; display: none;">
            <p class="text_msg" style="margin: 8rem 0 0 9rem; font-size: 23px; color: #fff; text-shadow:3px 3px 6px black; text-transform: capitalize;"> Your Wishlist is currently empty!</p>
            <a href="/"><button class="shop_now_btn" style="margin: 1rem 0 0 15rem ; text-transform: capitalize;">start exploring</button></a>
          </div>
        <% } %>

      </div>

    </div>





    <!-- footer -->
    <%-include("../partials/footer.ejs")%>
    <!-- ======= -->


  </div>


  <!-- ====ERROR PoP UP==== -->
  <div class="errormsg" style="display: none;">
    Fail to connect database check your network !
  </div>

  <!-- ==================== -->

  <!-- ================== -->


  <!-- /////////SCRIPT AREA///////// -->

      <!--    productDetailPage reqst  -->
      <script>
        function productDetailPage(productId) {
          window.location.href = `/products/${productId}`
        }
      </script>
      <!-- ___________________________ -->

  <!--   ===============orderDetailPage req =============  -->
  <script>
    function orderDetails(id) {
      window.location.href = `/orderdetails/${id}`
    }
  </script>

  <!-- ================================================= -->
  <!-- remove fetch req  -->
  <script>
    function removeProduct(id) {
        fetch(`/myWishlist/?id=${id}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => response.json())
        .then(data => {
           if(data.itemsCount ==0){
            document.querySelector(".wishlist_sub").style.display="block";
            document.querySelector(".wishlist_main").style.display="none";
           }
          if (data.status === true) {
            document.querySelector(".single_product_display_div"+id).style.display="none"   
          } else {
            window.location.reload()
          }


        })
        .catch(error => console.error('Error:', error));
    }
  </script>
  <!-- _________________ -->
  <!-- =========ERROR ANIMATION=========== -->
  <script>
    function errorMsg(params) {
      document.querySelector('.errormsg').textContent = `Upload Failed`
      document.querySelector('.errormsg').style.display = "block"
      document.querySelector('.errormsg').style.animationPlayState = 'running';

      setTimeout(function() {
        document.querySelector('.errormsg').style.animationPlayState = 'paused';
        document.querySelector('.errormsg').style.animationName = "hide"
        document.querySelector('.errormsg').style.animationPlayState = 'running';
        setTimeout(() => {
          document.querySelector('.errormsg').style.display = "none"
        }, 300);
      }, 4000);
    }
  </script>

  <!-- ============================================ -->




  <!-- for aos animation  -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- ============ -->

  <!-- page reback bug fix code -->
  <script>
    AOS.init();
  </script>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
  <!-- ======================== -->


  <!-- page reload -->
  <script>
    let cart = function cart() {
      window.location.href = "/cart";

    }
  </script>
  <!-- ========= -->


</body>

</html>